.App {
  text-align: center;
}
.nav{
  border:transparent;
  background-color: violet;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.navlist{
  justify-content: space-between;
  margin-bottom: 0px;
  padding:1px;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  font-family: cursive;
  display: flex;
  flex-direction: row;
}
p{
  margin-right: 20px;
}
.intro{
  margin-top: 0.5px;
  margin-bottom: 3px;
  border-bottom: cadetblue 3px;
}
.iline{
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1px;
  margin-top: 0px;
}
.error{
  color:red;
  font-size: smaller;
}
form-control{
  margin-bottom: 5px;
}

.in{
  padding:10px;
  border:0;
  margin-bottom: 5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06)
}
.button{
  position:absolute;
  bottom: 5%;
  right:20%;
}
